:root {
  --main-font: 'Roboto';
  --secondary-font: 'Arial';
  --main-decoration-color: #fcc931;
  --secondary-decoration-color: #ccd8c7;
  --third-decoration-color: #eeeeee;
  --main-font-color: #41483c;
  --error-color: rgb(190, 1, 1);
}
