.pagination {
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  padding-top: 20px;
  justify-content: flex-end;
  margin: 0 auto;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--main-decoration-color);
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

li.page-item.active > a {
  background: var(--main-decoration-color);
  color: white;
  border-color: var(--main-decoration-color);
}
