.pagination {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 40px;
}

.page-item {
  cursor: pointer;
}

.active {
  font-size: 20px;
  font-weight: 700;
  color: red;
}
