.formContainer {
  display: flex;
  padding: 30px 50px;
}

.labelRegister {
  margin-right: 40px;
}

.titleRegister {
  font-weight: 700;
  margin-right: 10px;
}

.buttonSubmit {
  margin-right: 20px;
}
